.container {
    text-align: center;
  }
  
  .header {
    background-color: #282c34;
    padding: 0.5rem;
    color: white;
  }

  .title {
    font-size: 3rem;

  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura según sea necesario */
  }
  
  .image {
    max-width: 100%;
    height: auto;
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .searchInput {
    margin: 20px;
    color:black;
    width: 25%;
    height: 2.5rem;
    border-radius: 0.5rem;
    padding-left: 0.5REM;
  }
  
  .caseList {
    margin: 20px;
  }
  
  .case {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }